<!DOCTYPE html>
<html>
<head>
	<title>获取产品信息</title>
</head>
<body>
	<br>
	[types == 0  获取商品分类列表]<br>
	[types == 1  获取商品列表]<br>

	<br>
	<form action="/products " method="POST">
		<label>产品</label>
		<div>types:<input type="text" value="1" name="types"></div>
		<div>options:<input type="text" value="1" name="options"></div>
		<div>pageNo:<input type="text" value="0" name="pageNo"></div>
		<div>pageSize:<input type="text" value="5" name="pageSize"></div>
		<div>productTypeId:<input type="text" name="productTypeId"></div>
		<div>name:<input type="text" name="name"></div>
		<div>price:<input type="text" name="price"></div>
		<div>desc:<input type="text" name="desc"></div>
		<div>count:<input type="text" name="count"></div>
		<div>standardPrice:<input type="text" name="standardPrice"></div>
		<div>msg:<input type="text" name="msg"></div>
		<input type="submit" name="获取商品"Submit/>
	</form>	

</body>
</html>