<!DOCTYPE html>
<html>
<head>
    <title>商品列表</title>
    <link rel="stylesheet" type="text/css" href="../static/css/element.css">
    <style>
        .el-header, .el-footer {
         padding-top:1em;
        }

        .el-aside {
            background-color: #D3DCE6;
            color: #333;
            text-align: center;
        }

        .el-main {
            background-color: #ffffff;
            color: #333;
           
        }

        body > .el-container {
            margin-bottom: 40px;
        }
        /*---------*/
        .main-contaner {
            padding: 0;
        }
        .el-main {
            padding:10px;
            overflow:hidden
        }
        .nav-tab {
            background-color: #E9EEF3;
        }
         .el-tabs.el-tabs--card.el-tabs--top {
            height: 100%
        }
        .el-tabs__content {
        height:calc(100% - 41px)
        }
    </style>
</head>


<body style="margin:0;box-sizing:border-box">

    <div id="app">
        <el-container style="height:100vh;">
            <el-header>
                <el-row :gutter="10">
                    <el-col :span="16">
                        <el-input placeholder="请输入内容" class="input-with-select">
                            <el-select value="1" slot="prepend" placeholder="请选择">
                                <el-option label="全部类型" value="1"></el-option>
                                <el-option label="海鲜" value="2"></el-option>
                                <el-option label="水果" value="3"></el-option>
                            </el-select>
                            <el-button slot="append" icon="el-icon-search"></el-button>
                        </el-input>
                    </el-col>
                   
                    <el-col :span="8" style="text-align:right">
                        <el-button @click="toggleSelection()">取消选择</el-button>
                        <el-button type="warning">移除</el-button>
                        <el-button type="success" @click="location.href='products?page=product_add'">新增</el-button>
                    </el-col>
                </el-row>
                
            </el-header>
          
            <el-main class="main-contaner">
                <template>

                    <el-table :data="tableData"
                              v-loading="loading"
                              ref="multipleTable"
                              style="width: 100%"
                              stripe
                              :default-sort="{prop: 'date', order: 'descending'}">
                        <el-table-column type="selection"
                                         prop="Id"
                                         width="40">
                        </el-table-column>
                        <el-table-column prop="Name"
                                         label="标题"
                                         sortable
                                         width="380">
                        </el-table-column>
                        <el-table-column prop="Price"
                                         label="价格"
                                         sortable
                                         width="180">
                        </el-table-column>
                        <el-table-column prop="Count"
                                         sortable
                                         label="库存">
                        </el-table-column>
                        <el-table-column prop="Add_time"
                                         sortable
                                         label="时间">
                        </el-table-column>
                        <el-table-column prop="Operate"
                                         sortable
                                         label="操作">
                            <template slot-scope="scope">
                                <el-button @click.native.prevent="location.href='products?page=product_add'"
                                           type="text"
                                           size="small">
                                    编辑
                                </el-button>
                                <el-button @click.native.prevent="deleteProduct(scope.row.Id)"
                                           type="text"
                                           size="small">
                                    移除
                                </el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                </template>
                <template>

                    <div class="block">
                        <el-pagination @size-change="handleSizeChange"
                                       @current-change="handleCurrentChange"
                                       :current-page="currentPage"
                                       :page-sizes="[5, 10, 20]"
                                       :page-size="pageSize"
                                       layout="total, sizes, prev, pager, next, jumper"
                                       :total="pageTotal">
                        </el-pagination>
                    </div>
                </template>
            </el-main>
          
        </el-container>

    </div>
    <script type="text/javascript" src="../static/js/vue.min.js"></script>
    <script type="text/javascript" src="../static/js/element.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript">

        var vm = new Vue({
            el: '#app',
            data: {

                tableData: "",
                pageSize: "3",
                pageTotal:"0",
                currentPage:"1",
                loading: true
            },
            methods: {

                handleSizeChange(val) {
                    console.log(`每页 ${val} 条`);
                    this.pageSize = val
                    getPageData(this.currentPage, this.pageSize);
                },
                handleCurrentChange(val) {
                    console.log(`当前页    ${val}`);
                    getPageData(val, this.pageSize);
                },
                deleteProduct(id) {
                    var result = confirm("移除后数据不可恢复")
                    if (result) {
                        deleteData(id)
                    }
                    
                },
                toggleSelection(rows) {
                    if (rows) {
                        rows.forEach(row => {
                            this.$refs.multipleTable.toggleRowSelection(row);
                        });
                    } else {
                        this.$refs.multipleTable.clearSelection();
                    }
                }
               
            

            }

        });
        getPageData(1,2);
        //初始化数据
        function getPageData(pageNo, pageSize) {
            vm.currentPage = pageNo;
            vm.pageSize = pageSize;

            $.ajax({
                url: location.origin + "/products",
                data: {
                    types: 1,
                    options: 0,
                    productTypeId: 1,
                    getType: 0,
                    pageNo: pageNo,
                    pageSize: pageSize

                },
                type: "post",
                dataType: "json",
                success: function (e) {
                    if (e.status == "200") {
                        var list = e.products;
                        for (var i = 0; i < list.length; i++) {
                            list[i].Name = decodeURIComponent(list[i].Name)                        
                        }
                        vm.tableData = list
                        vm.pageTotal = e.totalPage
                        vm.loading = false
                    } else if (e.status == "400") {
                        alert(e.msg)
                    }
                },
                complete: function (e) {
                   // $("body").loader("hide")
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("状态：" + textStatus + "；出错提示：" + errorThrown);
                },
            });
        }
        //删除数据
        function deleteData(id) {
            $.ajax({
                url: location.origin + "/products?page=product",
                data: {
                    types: 1,
                    options: 2,
                    productId: id
                },
                type: "post",
                dataType: "json",
                success: function (e) {

                    if (e.status == "200") {
                      
                        vm.tableData = vm.tableData.filter(item => { return item.Id != id })
                        vm.pageTotal = vm.tableData.length
                       // vm.pageTotal = list.length
                    } else if (e.status == "400") {
                        alert(e.msg)
                    }
                },
                complete: function (e) {
                    // $("body").loader("hide")
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("状态：" + textStatus + "；出错提示：" + errorThrown);
                },
            });
        }

    </script>
</body>
</html>