<!DOCTYPE html>
<html>
<head>
    <title>商品添加</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/summernote.css">
    <link rel="stylesheet" type="text/css" href="../static/css/font-awesome.min.css">
    <link href="../static/css/ssi-uploader.css" rel="stylesheet" />
    <style>
        .note-editable {
            border:1px solid #f5f5f5;
            border-top:none
        }
    </style>
</head>


<body style="margin:0;box-sizing:border-box">
    <ol class="breadcrumb" style="position:fixed;top:0;width:100vw">
        <li><a href="/products/?page=product_list">商品列表</a></li>

        <li class="active">商品添加</li>
    </ol>

    <div class="container" style="max-width:750px;margin-top:40px">
        <input type="hidden" id="attr_id" />
        <div class="form-group">
            <input type="text" id="attr_name" required class="form-control" placeholder="商品名称" />
        </div>
        <div class="form-group">
            <textarea id="attr_msg" class="form-control" placeholder="子描述"></textarea>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-3"><label>售价</label><input type="text" required id="attr_price" class="form-control" placeholder="售价" /></div>
                <div class="col-sm-3"><label>原价</label><input type="text" id="attr_standardPrice" class="form-control" placeholder="成本价" /></div>
                <div class="col-sm-3"><label>库存</label><input id="attr_count" required type="number" class="form-control" placeholder="库存" /></div>
                <div class="col-sm-3"><label>排序</label><input id="attr_sort_id" required type="number" class="form-control" placeholder="排序，值小的在前面" /></div>
            </div>


        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-4">
                    <select required id="attr_productTypeId" class="form-control"></select>
                
            </div>
                <div class="col-sm-4">
                    <label>首页轮播</label><input style="margin:5px" type="checkbox" id="attr_is_carousel" />
                </div>

        </div>

        <div class="form-group">
            <div class="row">
                </div>
                
                <div class="col-sm-5">
                    <label>热推荐</label><input style="margin:5px" type="checkbox" id="attr_is_hot" />
                </div>
                <div class="col-sm-5">
                    <label>特色商品</label><input style="margin:5px" type="checkbox" id="attr_is_tese" />
                </div>
                <div class="col-sm-5">
                    <label>特价商品</label><input style="margin:5px" type="checkbox" id="attr_is_tejia" />
                </div>
                <div class="col-sm-5">
                    <label>抢购</label><input style="margin:5px" type="checkbox" id="attr_is_qianggou" />
                </div>
            </div>


        </div>
        <div class="form-group" id="on_upload">           
            <input class="form-control" name="Filedata" type="file"  id="attachment" />
            <div class="row" id="viewPictrues">

            </div>
        </div>

        <p>详情描述</p>
        <div id="attr_desc" class="form-control">
        </div>

    </div>
    <div class="form-group text-center" style="position:fixed;bottom:0;width:100vw">
        <button class="btn btn-info" onclick="submitProduct()">保存</button>
    </div>
    <script type="text/javascript" src="../static/js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js/summernote.min.js"></script>
    <script type="text/javascript" src="../static/js/summernote-zh-CN.js"></script>
    <script type="text/javascript" src="../static/js/summernote-zh-CN.js"></script>
    <script type="text/javascript" src="../static/js/ssi-uploader.js"></script>
    <script type="text/javascript" src="../static/js/center-loader.js"></script>
    <script type="text/javascript">
        $("#attr_desc").summernote({ lang: "zh-CN", height: 400});
        //$('#attachment').ssi_uploader({
        //    url: 'url',
        //    data: { Folder: "Upload\\Tmp" },
        //    locale: "ch",
        //    allowed: ['jpg', 'jpeg', 'png', 'bmp', 'gif'],
        //    dropZone: false
        //});
        var allowed = ['jpg', 'jpeg', 'png', 'bmp', 'gif']
        $("#attachment").change(function () {
            var imgs_list = new Array()
            var imgs = document.getElementById('attachment').files
            for (var i = 0; i < imgs.length; i++) {
                imgs_list[i] = imgs[i]
            }
            imgs_list= imgs_list.filter(img => {
                var count = allowed.filter(type => { return type == img.type.split('/')[1] })
                if (count.length == 0) {
                    
                    return false
                } else {
                    return true
                }
            })
            //读取缓存图片
            var reader = new FileReader();
            reader.onload = function (e) {
                //options.imgSrc = e.target.result;
                $("#viewPictrues").append(builtViewPictrue(e.target.result))
            }
            for (var i = 0; i < imgs_list.length; i++) {
                reader.readAsDataURL(imgs_list[i]);
            }
          
           // $("#attachment").parent().append('<img src="''"/>')
       
           // document.getElementById('attachment').files = JSON.parse(imgs_list)
            //console.log(imgs.length)
        })
        //新增商品
        function submitProduct() {

            $('input[required]').each(function () {
                if ($(this).val().trim() == "") {

                    alert($(this).attr('placeholder'))
                    $(this).focus();
                    return
                }

            });
            $('body').loader("show", $('<i class="fa fa-2x fa-spinner fa-spin"></i>'))
            $.ajax({
                url: location.origin +"/products",
                data: {
                    types: 1,
                    options: 1,
                    ProductTypeId: $("#attr_productTypeId").val(),
                    Name: encodeURIComponent($("#attr_name").val()),
                    Price: $("#attr_price").val(),                  
                    Desc: encodeURIComponent($("#attr_desc").code()),
                    Count: $("#attr_count").val(), 
                    StandardPrice: $("#attr_standardPrice").val(),
                    Msg: encodeURIComponent( $("#attr_msg").val()), 
                    IsCarousel: ($("#attr_is_carousel").is(":checked")) ? 1 : 0,
                    IsHot: ($("#attr_is_hot").is(":checked")) ? 1 : 0,
                    IsTeSe: ($("#attr_is_tese").is(":checked")) ? 1 : 0,
                    IsTeJia: ($("#attr_is_tejia").is(":checked")) ? 1 : 0,
                    IsQiangGou: ($("#attr_is_qianggou").is(":checked")) ? 1 : 0,
                    SortId: $("#attr_sort_id").val()
                },
                type: "post",
                dataType: "json",
                success: function (e) {

                    if (e.status == "200") {
                        var product_id = e.productId
                        submitPictures(product_id)
                        //var e = confirm("添加成功是否重新加载")
                        //if (e == true) {
                        //    location.reload()
                        //}
                    } else if (e.status == "400") {
                        alert(e.msg)
                    }
                },
                complete: function (e) {
                    $("body").loader("hide")
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("状态：" + textStatus + "；出错提示：" + errorThrown);
                },
            });
        }
        //提交当产品图片
        function submitPictures(productId) {
            var pictrues = $(".proPictrue")
            var count = pictrues.length;
            $(".proPictrue").each((index,item) => {
                var isCover = 0;
                if ($(item).find('input[name="isCover"]').is(':checked')) {
                    isCover = 1;
                }
                var formdata = new FormData();
                formdata.append("attachment", getBlob($(item).find('img.prePictrue').attr('src')), new Date().getTime()+ '.png');
                formdata.append("options", "1")
                formdata.append("isCover", isCover)
                formdata.append("productId", productId)
                var oReq = new XMLHttpRequest();
                oReq.open("POST", location.origin + "/picture");
                oReq.send(formdata);
                oReq.onreadystatechange = function () {
                    if (oReq.readyState == 4 && oReq.status == 200) {
                        console.log(oReq.responseText)
                    }
                }
                alert("添加成功")
            })
           
        }
        //构建图片相册
        function builtViewPictrue(src) {
           
            var img = '<div class="proPictrue" style="padding:10px;float:left"><p style=""><a onclick="$(this).parent().parent().remove()">删除</a></p><img class="prePictrue" src="' + src + '" style="max-width:100px;height:auto;"/><br><input type="radio" name="isCover"/>&nbsp;是否设置为封面</div>'
            return img
        }
        //base64图片转换
        function getBlob(src) {
            //canvas转换
            var img = new Image()
            img.src = src;
            canvas = document.createElement("canvas")
            canvas.width = img.width;
            canvas.height = img.height;
            var context = canvas.getContext("2d");
            context.drawImage(img,0,0);
            var imageData = canvas.toDataURL('image/png');
            //base64编码
            var b64 = imageData.replace('data:image/png;base64,', '');
            var binary = atob(b64);
            var array = [];
            for (var i = 0; i < binary.length; i++) {
                array.push(binary.charCodeAt(i));
            }
            return new Blob([new Uint8Array(array)], { type: 'image/png' });
        }
        //获取分类
        getProductTypes()
        function getProductTypes() {
            $.ajax({
                url: location.origin + "/products",
                data: {
                    types: 0,
                    options: 0,
                    // productTypeId: 1,
                    //getType: 0,
                    pageNo: 1,
                    pageSize: 0

                },
                type: "post",
                dataType: "json",
                success: function (e) {

                    if (e.status == "200") {
                        for (var i = 0; i < e.productTypes.length; i++) {
                            $('#attr_productTypeId').append('<option value="' + e.productTypes[i].Id + '">' +
                                decodeURIComponent(e.productTypes[i].TypeName) + '</option>')
                        }
                    } else if (e.status == "400") {
                        alert(e.msg)
                    }
                },
                complete: function (e) {
                    $("body").loader("hide")
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("状态：" + textStatus + "；出错提示：" + errorThrown);
                },
            });
        }
    </script>
</body>
</html>